/* imageType */
#imageType > p {
    font-size: 22px;
    padding: 0 20px;
    word-break: keep-all;
    line-height: 1.6;
}

.image__inner {
    display: flex;
    justify-content: space-between;     /* 간격 떨어뜨리기 */
    flex-wrap: wrap;
    width: 100%;
}
.image {
    width: 49%;
    height: 370px;
    padding: 200px 30px 30px 30px;
    color: #fff;
    box-sizing: border-box;
}
.image.img1 {
    background-image: url(../img/imageType/imageType01_bg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image.img2 {
    background-image: url(../img/imageType/imageType01_bg02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image__title {
    font-size: 32px;
    margin-bottom: 10px;
    text-shadow: 0 0 4px rgb(80,80,80);
    /* 1줄 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.image__desc {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 300;
    text-shadow: 0 0 4px rgb(80,80,80);
    /* 2줄효과 : 글이 넘쳐도 2줄을 넘지 않도록 해줌 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 30px;
}
.image__btn {
    background: rgb(80,80,80);
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    transition: all 0.3s ease;
}
.image__btn:hover {
    background: #fff;
    color: #000;
}

/* 반응형 */
@media (max-width: 960px) {
    .image__inner .image {
        margin: 0 auto;
        width: 98%;
    }
    .image:first-child {
        margin-bottom: 30px;
    }
    #imageType > h2 {
        font-size: 40px;
    }
    #imageType > p {
        font-size: 18px;
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    #imageType > h2 {
        font-size: 30px;
    }
    #imageType > p {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .image__inner .image {
        width: 96%;
        margin: 0 auto;
        padding: 210px 20px 20px 20px;
    }
    .image:first-child {
        margin-bottom: 20px;
    }
    .image__title {
        font-size: 24px;
    }
}